body{
  background: linear-gradient(#E7F1FF,#F9FCFF);
  margin-top: 70px;
  margin-left: 40px;
  margin-right: 40px;
}

:root {
    --B1:#081F5C;
    --B2: #334EAC;
    --B3: #7096D1;
    --B4: #D0E3FF;
    --B5: #E7F1FF;
    --B6: #F9FCFF;
}
/*--navbar--*/
header{
    background-image: url(../asset/navbar.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    position: fixed;
    width: 95%;
    top: 0;
    left: 0;
    backdrop-filter: blur (8px);
    z-index: 1000;
    padding: 0px 50px;
    height: auto;
    gap: 50px;
    
    
    
}
.logo{
  display:flex;
  align-items:center;
  gap:12px;
}
.logo img{ 
  width:55px;
  height:55px;
  border-radius:8px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.logo h1{
  font-weight:700;
  letter-spacing:0.6px;
  color:var(--text);
  font-size:23px;
  font-style: italic;
  display: flex;
  text-shadow: 2px 2px 8px var(--B1);
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
nav a{
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    font-size: 23px;
}
nav a:hover{
    color: rgb(130, 131, 131);
}
.judul{
    margin-top: 120px;
}
footer {
  background-color: var(--B5);
  padding: 30px 60px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  margin-top: 150px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}

.footer-box {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-box h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-box h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.footer-box p {
  font-size: 19px;
  color: #333;
  margin: 4px 0;
}
.footer-box a{
  color:#7c99f7;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  font-size: 20px;

}
.footer-box a:hover{
    color: rgb(10, 68, 122);
}
#ig a{
  color: #081F5C;
}

hr {
  border: none;
  border-top: 2px solid #000;
  margin: 20px 0 10px;
}

.footer-bottom {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

